name: Atualizacao Diaria

on:
  schedule:
    - cron: '0 09 * * *'
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar Dependencias
        run: |
          python -m pip install --upgrade pip
          pip install pandas requests selenium webdriver-manager lxml openpyxl

      - name: Executar Scraper
        run: python main.py

      - name: Commit e Push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add banco_dados_movimentacao.csv
          git commit -m "Update dados" || exit 0
          git push
